.student{
    margin: auto;
    max-width: 70%; 
    border: 2px solid grey; 
    border-radius: 5px; 
    padding: 10px;
    margin-top: 30px;
}

@media (min-width: 900px) and (min-height: 400px) {
  .student {
      max-width: 900px;
  }
}