.button {
    transition-duration: 0.2s;
    width: 200px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .button:hover {
    background-color: grey; 
    color: white;
  }

.signup{
    cursor: pointer;
}
.invalid{
  color: red;
}
.update{
    margin: auto;
    max-width: 50%; 
    border: 2px solid grey; 
    box-shadow: 5px 5px grey;
    border-radius: 5px; 
    padding: 20px;
}

@media (min-width: 500px) and (min-height: 400px) {
  .update {
      max-width: 500px;
  }
}